{% extends 'base.html' %}
{% block content %}

<div id="directory">
    <h1>Click on a house to see their students</h1>
    <img src="/static/img/houses.png" alt="houses" usemap="#houses">
    <map name="houses">
      <area shape="rect" coords="18,21,495,402" alt="North Quadrant" href="/eatup/north">
      <area shape="rect" coords="528,21,876,402" alt="East Quadrant" href="/eatup/east">
      <area shape="rect" coords="528,444,876,888" alt="South Quadrant" href="/eatup/south">
      <area shape="rect" coords="18,444,495,888" alt="West Quadrant" href="/eatup/west">
    </map>
</div>

{% endblock %}